@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/SpaceGrotesk-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --background: #eceff1;
  --foreground: #000134;

  /* primitives */
  --white: #fdfdfe;
  --black: #000134;

  /* colors */

  --blue-default: #1143d4;
  --green-default: #00cc5f;
  --yellow-default: #eaff00;
  --orange-default: #ff6600;
  --red-default: #cc0022;
  --gray-default: #767879;

  /* neutrals */
  --neutral-100: #cdd0d2;
  --neutral-200: #afb1b3;
  --neutral-300: #929495;
  --neutral-400: #767879;
  --neutral-500: #5b5c5d;
  --neutral-600: #424243;
  --neutral-700: #292a2b;
  --neutral-800: #131414;
  --neutral-900: #030303;

  /* primary secondary */
  --primary-contrast: var(--blue);
  --primary: #1143d4;

  /* buttons */
  --button-primary: #001fcc;
  --button-primary-disabled: #4473e1;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #000134;
    --foreground: #e6e9fa;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
